<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <style>
    </style>
    <title>Message</title>
</head>


<body>
    <div class="main w-full h-screen flex">
        <div class="left w-[25%] h-screen fixed flex flex-col px-3 py-5 shadow-[0_20px_30px_-15px_rgba(0,0,0,0.3)]">
            <div class="logo w-[50%] relative">
                <img class="w-full h-full object-cover" src="/images/download.png" alt="">
            </div>
            <div class="links w-full mt-5 flex flex-col gap-1">
                <a href="/home">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-home-5-line"></i>
                        <h3 class="text-lg font-normal">Home</h3>
                    </div>
                </a>
                <a href="/search">
                    <div id="seach"
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-search-line"></i>
                        <h3 class="text-lg font-normal">Search</h3>
                    </div>
                </a>
                <a href="/feed">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-compass-discover-line"></i>
                        <h3 class="text-lg font-normal">Explore</h3>
                    </div>
                </a>
                <a href="/reels">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-movie-2-line"></i>
                        <h3 class="text-lg font-normal">Reels</h3>
                    </div>
                </a>
                <a href="/message">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-chat-1-line"></i>
                        <h3 class="text-lg font-normal">Message</h3>
                    </div>
                </a>
                <a href="/notification">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-heart-line"></i>
                        <h3 class="text-lg font-normal">Notification</h3>
                    </div>
                </a>
                <div class="baby">
                    <div id="crete"
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-add-box-line"></i>
                        <h3 class="text-lg font-normal">Create</h3>
                    </div>
                    <div id="cretepost"
                        class="hidden h-[60px] w-[120px] bg-slate-100 absolute flex rounded-md flex-col gap-1 transition-all">
                        <div
                            class="post w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createpost">Create Post</a>
                        </div>
                        <div
                            class="reels w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createreels">Create Reels</a>
                        </div>
                    </div>
                </div>
                <a href="/logout">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-logout-box-line"></i>
                        <h3 class="text-lg font-normal">Logout</h3>
                    </div>
                </a>
                <a href="/profile" class="py-1">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11 w-full rounded-md hover:bg-slate-100 transition-all">
                        <div class="profile w-7 h-7 bg-red-500 rounded-full truncate">
                            <img src="/images/uploads/<%=loggedinuser.profilepic%>" alt="">
                        </div>
                        <h3 class="text-lg font-normal">Profile</h3>
                    </div>
                </a>
            </div>
            <div
                class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all mt-14">
                <i class="text-[28px] font-medium ri-menu-line"></i>
                <h3 class="text-lg font-normal">Create</h3>
            </div>

        </div>
        <div class="right ml-[25%] w-[75%]  flex py-2 px-2 py-3 gap-2 flex flex-col">
            <h1 class="font-semibold text-2xl">Chats to love One🥰💗</h1>
            <div class="chatspart w-full h-[94%] flex gap-1">
                <div class="leftusers w-[33%] h-full flex flex-col gap-1 ">

                </div>
                <div class="rounded-md hidden rightchats w-[77%] h-full bg-slate-100">
                    <div class="whometochat w-full h-[70px] bg-slate-100 rounded-md flex items-center px-2">
                        <div class="propfilepic w-[60px] h-[60px] bg-red-100 rounded-full">
                            <img class="w-full h-full object-cover rounded-full" id="chatuserprofile" src="" alt="">
                        </div>
                        <div class="usernams ml-3">
                            <h1 id="chatusername" class="font-semibold text-xl">shivam kumar shah</h1>
                        </div>
                    </div>
                    <div class="chatareainsta w-full h-[80%] bg-slate-300 p-1 overflow-auto scrol-auto">
                        <div class="bg-red-100 rounded-md flex flex-col ml-auto w-max px-2 py-1 bg-white  sender">
                            hello from sender
                        </div>
                        <div class="bg-red-100 rounded-md flex flex-col w-max px-2 py-1 bg-white  reciver">
                            hello from reciver
                        </div>


                    </div>
                    <div class="inputpart flex w-full h-[8%]">
                        <input id="msginput" class="w-[80%] bg-slate-100 outline-none" type="text">
                        <button onclick="senderMessge()"
                            class=" w-[20%] text-white text-xl font-semibold bg-blue-500">Send</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        var flag = 0;
        document.querySelector(".baby").addEventListener("click", () => {
            if (flag === 0) {
                document.querySelector('#cretepost').classList.remove("hidden")
                flag = 1

            }
            else {
                document.querySelector('#cretepost').classList.add("hidden")
                flag = 0
            }
        })
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        var reciver = null
        const sender = "<%=loggedinuser.username%>"

        socket.emit("newUserJoine", "<%=loggedinuser.username%>")

        socket.on("addonlineuser", data => {
            showuser(data.name, data.profile)
        })
        socket.on("addonlineuserone", data => {
            showuser(data.name, data.profile)
        })

        socket.on("recivermsg", msg=>{
            recivemsg(msg)
        })

        function showuser(username, profile) {
            var template = `<div onclick="setChatuser('${username}', '${profile}')" class="chats w-full h-[70px] bg-slate-400 rounded-lg flex items-center px-2 flex items-center">
                        <div class="userp w-[60px] h-[60px] bg-slate-200 rounded-full">
                            <img class="w-full h-full object-cover rounded-full" src="/images/uploads/${profile}" alt="">
                        </div>
                        <h1 id="${username}" class="ml-2">${username}</h1>
                    </div>`
            document.querySelector(".leftusers").innerHTML += template
        }

        function setChatuser(username, profile) {
            document.querySelector(".rightchats").classList.remove("hidden")
            document.querySelector(`#chatusername`).innerHTML = username;
            document.querySelector(`#chatuserprofile`).setAttribute("src", `/images/uploads/${profile}`)
            console.log(username, profile);
            reciver = username

            socket.emit("getallchats",{
                sender,
                reciver
            })

        }


        function recivemsg(recivedmsg){
            const template = `
            <div class="bg-red-100 rounded-md flex flex-col w-max px-2 py-1 bg-white  reciver">
                            ${recivedmsg}
                        </div>

            `
            document.querySelector(".chatareainsta").innerHTML += template

        }

        function sendermsg(msg){
            const template = `
            <div class="bg-red-100 rounded-md flex flex-col ml-auto w-max px-2 py-1 bg-white  sender">
                            ${msg}
                        </div>
            `

            document.querySelector(".chatareainsta").innerHTML += template

        }
        function senderMessge() {

            var sendermsg = document.querySelector("#msginput").value;
            const template = `
            <div class="bg-red-100 rounded-md flex flex-col ml-auto w-max px-2 py-1 bg-white  sender">
                            ${sendermsg}
                        </div>
            `

            document.querySelector(".chatareainsta").innerHTML += template

            document.querySelector("#msginput").value = " "


            const msgInfo = {
                sendermsg,
                sender,
                reciver
            }
            // console.log(msgInfo);
            socket.emit("privateMsg", msgInfo)
        }

       socket.on("allchats", allmsg=>{
        allmsg.forEach(singlemsg=>{
            if(singlemsg.sender === sender){
                sendermsg(singlemsg.msg)
            }else{
                recivemsg(singlemsg.msg)
            }
        })
       })

    </script>

</body>

</html>