<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <title>notification</title>
</head>

<body>
    <div class="main w-full h-screen flex">
        <div class="left w-[25%] h-screen fixed flex flex-col px-3 py-5 shadow-[0_20px_30px_-15px_rgba(0,0,0,0.3)]">
            <div class="logo w-[50%] relative">
                <img class="w-full h-full object-cover" src="/images/download.png" alt="">
            </div>
            <div class="links w-full mt-5 flex flex-col gap-1">
                <a href="/home">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-home-5-line"></i>
                        <h3 class="text-lg font-normal">Home</h3>
                    </div>
                </a>
                <a href="/search">
                    <div
                    class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                    <i class="text-[28px] font-medium ri-search-line"></i>
                    <h3 class="text-lg font-normal">Search</h3>
                </div>
                </a>
                <a href="/feed">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-compass-discover-line"></i>
                        <h3 class="text-lg font-normal">Explore</h3>
                    </div>
                </a>
                <a href="/reels">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-movie-2-line"></i>
                        <h3 class="text-lg font-normal">Reels</h3>
                    </div>
                </a>
                <div
                    class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                    <i class="text-[28px] font-medium ri-chat-1-line"></i>
                    <h3 class="text-lg font-normal">Message</h3>
                </div>
                <a href="/notification">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-heart-line"></i>
                        <h3 class="text-lg font-normal">Notification</h3>
                    </div>
                </a>
                <div class="baby">
                    <div id="crete"
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-add-box-line"></i>
                        <h3 class="text-lg font-normal">Create</h3>
                    </div>
                    <div id="cretepost"
                        class="hidden h-[60px] w-[120px] bg-slate-100 absolute flex rounded-md flex-col gap-1 transition-all">
                        <div
                            class="post w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createpost">Create Post</a>
                        </div>
                        <div
                            class="reels w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createreels">Create Reels</a>
                        </div>
                    </div>
                </div>
                <a href="/logout">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-logout-box-line"></i>
                        <h3 class="text-lg font-normal">Logout</h3>
                    </div>
                </a>
                <a href="/profile" class="py-1">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11 w-full rounded-md hover:bg-slate-100 transition-all">
                        <div class="profile w-7 h-7 bg-red-500 rounded-full truncate">
                            <img src="/images/uploads/<%=user.profilepic%>" alt="Uploaded" />
                        </div>
                        <h3 class="text-lg font-normal">Profile</h3>
                    </div>
                </a>
            </div>
            <div
                class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all mt-14">
                <i class="text-[28px] font-medium ri-menu-line"></i>
                <h3 class="text-lg font-normal">Create</h3>
            </div>

        </div>
        <div class="right ml-[25%] w-[75%] h-[200vh] p-3 flex flex-col">

            <h1 class="text-2xl font-semibold mb-2">Notifiacation</h1>
            <%user.requests.forEach(singleuser=>{ %>

                <div class="requests w-full flex items-center justify-between px-3 h-[70px] bg-slate-300">
                    <div class="profile flex items-center">
                        <div class="imgpro w-[50px] h-[50px] bg-red-300 rounded-full">
                            <img src="" alt="">
                        </div>
                        <h2 class="ml-4">
                            <%=singleuser.username%>
                        </h2>
                    </div>
                    <div class="buttom">
                        <a id="accept" href="/accept/<%=singleuser._id%>"><button class="px-3 py-1 bg-blue-500 text-white rounded">accept</button></a>
                        <a id="reject" href="/reject/<%=singleuser._id%>"><button class="px-3 py-1 bg-red-500  text-white rounded">reject</button></a>
                    </div>
                </div>
                <%}) %>





        </div>
    </div>
    <script>
        document.querySelector(".btn").addEventListener("click", () => {
            document.querySelector("#imageinput").click();
        })
        onFormSubmit = (e) => {
            e.preventDefault();
            const formData = new FormData();
            formData.append('image', this.state.image);
            axios.post('/addpostimg', formData);
        }

        axios.post('/addpostimg', formData).then(res => {
            this.setState({ imagePath: res.data.path });
        })
        var flag = 0;
        document.querySelector(".baby").addEventListener("click", () => {
            if (flag === 0) {
                document.querySelector('#cretepost').classList.remove("hidden")
                flag = 1

            }
            else {
                document.querySelector('#cretepost').classList.add("hidden")
                flag = 0
            }
        })


    </script>
</body>

</html>