<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet"><link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
  <title>Sign up</title>
</head>
<body>
  <div class="main w-full min-h-full flex flex-col items-center py-5">
    <div class="login-box w-96 mx-auto h-max-content border rounded-sm border-slate-300 flex flex-col items-center py-5">
      <div class="log w-[200px] my-3 h-[60px]">
        <img class="w-full h-full object cover" src="/images/download.png" alt="">
      </div>
      <p class="tracking-tight w-80 text-medium leading-5 mb-4  font-semibold text-center text-slate-400 px-8">Sign up to see photos and videos from your friends.</p>

      <div class="w-80 bg-sky-500 py-1 rounded loginfacebook flex items-center  justify-center">
        <i class="text-xl ri-facebook-box-fill text-white"></i>
        <p class="font-semibold text-white" >Log in with Facebook</p>
      </div>

      <div class="or flex items-center gap-3 justify-center w-80 my-3 min-h-content">
        <span class="w-32 h-px bg-slate-200" ></span>
        <p class="font-normal text-gray-400">OR</p>
        <span class="w-32 h-px bg-slate-200" ></span>
      </div>
      
      <div class="input w-80">
        <form action="/register" method="post" class="flex flex-col gap-y-2">
          <input type="text" name="username" placeholder="username" class="border rounded-[3px] py-[6px] px-[5px] text-sm">
          <input type="text" name="name" placeholder="name" class="border rounded-[3px] py-[6px] px-[5px] text-sm">
          <input type="email" name="email" placeholder="email" class="border rounded-[3px] py-[6px] px-[5px] text-sm">
          <input type="password" name="password" placeholder="password" class="border rounded-[3px] py-[6px] px-[5px] text-sm">
          <input type="submit" class="font-semibold bg-sky-500 text-white text-bold mt-2 py-2 rounded" value="Sign up">
        </form>
      </div>
      <p class="w-80 text-[13px] px-2 text-slate-400 text-center leadind-1 mt-2">People who use our service may have uploaded your contact information to Instagram. <a class="text-sky-500" href=""> Learn More</a></p>
      <p class="w-80 text-[13px] px-2 text-slate-400 text-center leadind-1 mt-2">By signing up, you agree to our<a class="text-sky-500" href=""> Terms , Privacy Policy and Cookies Policy .</a></p>
    </div>
    <div class="forget w-96 mx-auto h-[70px] mt-2 border rounded-sm border-slate-300 flex items-center justify-center">
      <p>Have an account? <a class="text-sky-500 font-semibold" href="/">Login up</a></p>
    </div>
  </div>
</body>
</html>